* {
    box-sizing: border-box;
}

body {
    margin: 0;
}



/*Секция логотип*/

.logo img{
    width: 160px;
}

.logo {
    display: flex;
    justify-content: center;
    margin: 90px 0px 0px 0px;
}



/*Секция никнейм*/

.name {
    font-family: 'Fjalla One', sans-serif;
    text-align: center;
    margin: 30px 0px 50px 0px;
    font-size: 25px;
    font-size: 38px;
    color: white;
    font-weight: 400;
}


/*Секция кнопки*/

.button1 button{
    width: 280px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 25px;
}

.button1 button:hover {
    width: 300px;
    height: 100px;
    font-size: 30px;
}




.button2 button{
    width: 280px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 0px 0px 0px;
    font-size: 26px;
}

.button2 button:hover {
    width: 300px;
    height: 100px;
    font-size: 31px;
}




.button3 button{
    width: 280px;
    height: 80px;
    border-radius: 50px;
    cursor: pointer;
    transition: 0.2s;
    margin: 20px 0px 0px 0px;
    font-size: 26px;
}

.button3 button:hover {
    width: 300px;
    height: 100px;
    font-size: 31px;

}




.button1 {
    display: flex;
    justify-content: center;
}

.button2 {
    display: flex;
    justify-content: center;
}

.button3 {
    display: flex;
    justify-content: center;
}



.button1 img {
    position: relative;
    right: 30px;
    top: 3px;
    height: 40px;
}

.button2 img {
    position: relative;
    right: 20px;
    top: 3px;
    height: 55px;
    
}

.button3 img {
    height: 50px;
    position: relative;
    top: 2px;
    right: 41px;

}





.button1 span {
    position: relative;
    bottom: 8px;
    font-weight: 700;
}

.button2 span {
    position: relative;
    bottom: 15px;
    font-weight: 700;
}

.button3 span {
    position: relative;
    font-weight: 700;
    bottom: 12px;
}




.video {
    z-index: -1;
    position: absolute;
    display: flex;
    justify-content: center;
    left: 0;
    top: 0;
    width: 100%;
}